  * {
      box-sizing: border-box;
  }

  body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
  }

  /* Header sectie */
  .header {
      font-family: 'Pacifico', cursive;
      background-color: #4D4D4D;
      background-image: url(../afbeeldingen/rotterdam-skyline.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      color: white;
      text-align: center;
      font-size: 5vw;
      padding: 15px;

  }

  /* Menu sectie */
  .menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

  }

  .menu li {
      padding: 8px;
      margin-bottom: 7px;
  }

  div.col-9 {
      float: right;
      margin-right: 1%;
      margin-top: 1%;
  }


  img {
      float: right;
      margin-right: 0.5%;
      width: 25%;
      height: auto;
      padding: 1%;
  }

  h2 {
      padding: 1.5%;
  }

  p {
      padding: 2%;
  }

  /* Footer sectie */
  footer {
      clear: both;
      background-color: blue;
      min-height: 50px;
      color: white;
      text-align: center;
      margin-top: auto;

  }

  .col-9 {
      background-color: #F9F3CC;
      margin-bottom: 1%;
      margin-top: 1%;
      padding: 1%;
  }

  /* Mobile View */
  @media screen and (max-width:600px) {
      body {
          font-size: 3.8vw;
          background-color: #FBECB2;
      }

      .menu h2 {
          color: #B15EFF;
      }

      .menu li {
          background-color: #B15EFF;
      }

      .col-9 {
          background-color: #3D30A2;
          ;
          color: whitesmoke;
      }

      footer {
          background-color: #FFA33C;
      }
  }

  /* Tablet View */
  @media screen and (min-width: 600px) and (max-width:768px) {
      body {
          font-size: 1.9vw;
          background-color: #8EACCD;
      }

      .menu h2 {
          color: #12486B;
      }

      .menu li {
          background-color: #F5FCCD;
      }

      .col-9 {
          background-color: white;
          color: #12486B;
      }

      footer {
          background-color: #0C356A;
      }
  }

  /* Small Desktop View */
  @media screen and (min-width: 768px) and (max-width:992px) {
      body {
          font-size: 1.5vw;
          background-color: #E9B824;
      }

      .menu li {
          background-color: #EE9322;
      }

      .col-9 {
          background-color: #D83F31;
          color: whitesmoke;
      }

      footer {
          background-color: #219C90;
      }
  }

  /* Medium Desktop View */
  @media screen and (min-width: 992px)and (max-width:1200px) {
      body {
          font-size: 1.5vw;
          background-color: #FBECB2;
      }

      .menu li {
          background-color: #FFBF9B;
          color: #555843;
      }

      .col-9 {
          background-color: #EBE76C;
          color: black;
      }

      footer {
          background-color: #4D4D4D;
      }
  }

  /* Large Desktop View */
  @media screen and (min-width: 1200px) {
      body {
          font-size: 1.5vw;
          background-color: #F4BF96;
          color: #4D4D4D;
      }

      .col-9 {
          background-color: #FCF5ED;
          color: #4D4D4D;
      }

      .menu li {
          background-color: #B2533E;
          color: white;
      }

      footer {
          background-color: #001524;
      }
  }

  /* Media queries voor verschillende schermformaten */
  @media only screen and (min-width: 768px) {
      [class*="col-"] {
          float: left;
          padding: 15px;
      }

      .col-1 {
          width: 8.33%;
      }

      .col-2 {
          width: 16.66%;
      }

      .col-3 {
          width: 25%;
      }

      .col-4 {
          width: 33.33%;
      }

      .col-5 {
          width: 41.66%;
      }

      .col-6 {
          width: 50%;
      }

      .col-7 {
          width: 58.33%;
      }

      .col-8 {
          width: 66.66%;
      }

      .col-9 {
          width: 75%;
      }

      .col-10 {
          width: 83.33%;
      }

      .col-11 {
          width: 91.66%;
      }

      .col-12 {
          width: 100%;
      }
  }